<h3 matDialogTitle class="text-center">
     <ng-container i18n>Add Company</ng-container>
</h3>

<div mat-dialog-content style="padding-bottom: 20px;">
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
        <div fxLayout="row wrap">

            <!--NAME-->
            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                <div class="form-group">
                    <mat-form-field>
                        <input matInput formControlName="companyName" placeholder="Company Name">
                    </mat-form-field>
                </div>
            </div>

            <!--GROUPS-->
            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                <div class="form-group">
                    <mat-form-field>
                        <input matInput formControlName="groups" placeholder="groups separated by comma">
                    </mat-form-field>
                </div>
            </div>

            <!--GAME OPTION-->
            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                <div class="form-group">
                    <mat-form-field>
                        <mat-select placeholder="Game Option" formControlName="gameOp">
                            <mat-option [value]="'slot'">Slot</mat-option>
                            <mat-option [value]="'wheel'">Wheel</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>


            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                <div class="form-group">
                    <mat-form-field>
                        <input matInput type="number" formControlName="defaultCoins" placeholder="Default Coins">
                    </mat-form-field>
                </div>
            </div>

            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                <div class="form-group">
                    <mat-form-field>
                        <input matInput formControlName="defaultCorrectFB" placeholder="Default Correct Feedback">
                    </mat-form-field>
                </div>
            </div>

            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                <div class="form-group">
                    <mat-form-field>
                        <input matInput formControlName="defaultInCorrectFB" placeholder="Default In Correct Feedback">
                    </mat-form-field>
                </div>
            </div>

            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                <div class="form-group">
                    <mat-form-field>
                        <input matInput type="number" formControlName="timeLimitForQ" placeholder="Time Limit For Question">
                    </mat-form-field>
                </div>
            </div>

            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                <div class="form-group">
                    <mat-form-field>
                        <input matInput type="number" formControlName="lowToMed" placeholder="Number Of Turns From Low To Med">
                    </mat-form-field>
                </div>
            </div>

            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                <div class="form-group">
                    <mat-form-field>
                        <input matInput type="number" formControlName="medToHigh" placeholder="Number Of Turns From Low To High">
                    </mat-form-field>
                </div>
            </div>

            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                <div class="form-group">
                    <mat-form-field>
                        <input matInput type="number" formControlName="timetToSendToLogin" placeholder="timetToSendToLogin">
                    </mat-form-field>
                </div>
            </div>

            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                <div class="form-group">
                    <mat-slide-toggle formControlName="EnableGame">
                        Enable Game
                    </mat-slide-toggle>
                </div>
            </div>

            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                <div class="form-group">
                    <mat-form-field>
                        <input matInput type="number" formControlName="minBet" placeholder="minBet">
                    </mat-form-field>
                </div>
            </div>


        </div>

        <div class="divider divider-md"></div>

        <div class="form-actions text-center">
            <button mat-raised-button type="submit" class="btn-w-md" color="primary"
                    [disabled]="form.invalid">
                Submit
            </button>
        </div>
    </form>
</div>
