<div class="container" *ngIf="selectedCompany">
    <h1>Questions</h1>
    <div class="row">
        <div class="col-12 pb-2">
            <mat-form-field class="mr-2">
                    <mat-select placeholder="Select company" [(ngModel)]="selectedCompany" (ngModelChange)="getQuestions()">
                        <mat-option *ngFor="let company of companies$ | async" [value]="company">
                            {{company.companyName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            <p>{{error}}</p>
            <button mat-raised-button color="accent" (click)="addQuestion()">Add Question</button>
        </div>
    </div>


    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- picture Column -->
        <ng-container matColumnDef="picture">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Picture</th>
            <td mat-cell *matCellDef="let question">
                <img [src]="question.picture || 'assets/images/image-placeholder.png'"
                     onError="this.src='assets/images/image-placeholder.png'"
                     class="thumbnail">
            </td>
        </ng-container>

        <!-- difficulty Column -->
        <ng-container matColumnDef="difficulty">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Difficulty</th>
            <td mat-cell *matCellDef="let question">
                <span class="badge badge-default"
                   [ngClass]="{'text-red': question.difficulty === 3,
                               'text-orange': question.difficulty === 2,
                               'text-green': question.difficulty === 1}">
                             {{getDifficultyString(question.difficulty)}}
                     </span>
            </td>
        </ng-container>

        <!-- content Column -->
        <ng-container matColumnDef="content" mat-sort-header>
            <th mat-header-cell *matHeaderCellDef> Question</th>
            <td mat-cell *matCellDef="let question"> {{question.content}}</td>
        </ng-container>

        <!-- answers Column -->
        <ng-container matColumnDef="answers" mat-sort-header>
            <th mat-header-cell *matHeaderCellDef> Answers</th>
            <td mat-cell *matCellDef="let question">
                <ul>
                    <li *ngFor="let answer of question.answers">
                        <i *ngIf="answer.iscorrect" class="material-icons text-green">thumb_up</i>
                        <i *ngIf="!answer.iscorrect" class="material-icons text-red">thumb_down</i>
                        {{answer.content}}
                        <small>{{answer.feedback}}</small>
                    </li>
                </ul>
            </td>
        </ng-container>

        <!--actions-->
        <ng-container matColumnDef="actions" mat-sort-header>
            <th mat-header-cell *matHeaderCellDef> Actions</th>
            <td mat-cell *matCellDef="let question">
                <button (click)="editQuestion(question)" mat-icon-button class="ml-xs overflow-visible">
                    <mat-icon>edit</mat-icon>
                </button>

                <button (click)="deleteQuestion(question)" mat-icon-button class="ml-xs overflow-visible">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>
