<h3 matDialogTitle>
     <ng-container i18n>Add User</ng-container>
</h3>

<div mat-dialog-content style="padding-bottom: 20px;">
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
        <div fxLayout="row wrap">
            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
            
                <div class="form-group">
                    <mat-form-field>
                        <input matInput formControlName="companyName" placeholder="companyName">
                    </mat-form-field>
                </div>
            </div>

            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
               
                <div class="form-group">
                    <mat-form-field>
                        <input matInput formControlName="defaultCoins" placeholder="defaultCoins">
                    </mat-form-field>
                </div>
            </div>

            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
           
                <div class="form-group">
                    <mat-form-field>
                        <input matInput formControlName="defaultCorrectFB" placeholder="defaultCorrectFB">
                    </mat-form-field>
                </div>
            </div>

            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                <!--Email-->
                <div class="form-group">
                    <mat-form-field>
                        <input matInput formControlName="defaultInCorrectFB" placeholder="defaultInCorrectFB">
                    </mat-form-field>
                </div>
            </div>

            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                <!--Group-->
                <div class="form-group">
                    <mat-form-field>
                        <input matInput type="number" formControlName="timeLimitForQ" placeholder="timeLimitForQ">
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                <div class="form-group">
                    <mat-form-field>
                        <input matInput type="number" formControlName="lowToMed" placeholder="lowToMed">
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                <div class="form-group">
                    <mat-form-field>
                        <input matInput type="number" formControlName="medToHigh" placeholder="medToHigh">
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                <div class="form-group">
                    <mat-form-field>
                        <input matInput type="number" formControlName="timetToSendToLogin" placeholder="timetToSendToLogin">
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                <div class="form-group">
                    <mat-form-field>
                        <input formControlName="EnableGame" placeholder="EnableGame">
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                <div class="form-group">
                    <mat-form-field>
                        <input matInput type="number" formControlName="minBet" placeholder="minBet">
                    </mat-form-field>
                </div>
            </div>

            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                <!--Coins-->
                <div class="form-group">
                    <mat-form-field>
                        <input matInput type="text" formControlName="gameOp" placeholder="gameOp">
                    </mat-form-field>
                </div>
            </div>

        </div>

        <div class="divider divider-md"></div>

        <div class="form-actions">
            <button mat-raised-button type="submit" class="btn-w-md" color="primary"
                    [disabled]="form.invalid">
                Submit
            </button>
        </div>
    </form>
</div>
