<h3 matDialogTitle>
    <ng-container *ngIf="editMode" i18n>Edit Question</ng-container>
    <ng-container *ngIf="!editMode" i18n>Add Question</ng-container>
</h3>

<div mat-dialog-content style="padding-bottom: 20px;">
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
        <div fxLayout="row wrap">

                <!-- <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                        
                        <div class="form-group">
                            <mat-form-field>
                                <input matInput type="text" formControlName="groups" placeholder="Group">
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                        
                        <div class="form-group">
                            <mat-form-field>
                                <mat-select placeholder="Select company" [(ngModel)]="selectedCompany" [ngModelOptions]="{standalone: true}">
                                        <mat-option *ngFor="let company of companies$ | async" [value]="company">
                                            {{company.companyName}}
                                        </mat-option>
                                    </mat-select>
                            </mat-form-field>
                        </div>
                    </div> -->
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                        <div class="form-group">
                            <mat-form-field class="mr-2">
                                <mat-select #selectedCompany placeholder="Company" formControlName="company">
                                    <mat-option *ngFor="let company of companies$ | async" [value]="company">
                                        {{company.companyName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
        
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                        <!--Group-->
                        <div class="form-group">
                            <mat-form-field>
                                <mat-select placeholder="Group" formControlName="groups">
                                    <mat-option *ngIf="!selectedCompany.value">No company selected</mat-option>
                                    <ng-container *ngIf="selectedCompany.value">
                                        <mat-option *ngFor="let group of selectedCompany.value.groups" [value]="group">
                                            {{group.name}}
                                        </mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
        
                    <!-- <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                            
                            <div class="form-group">
                                <mat-form-field>
                                    <input matInput type="number" formControlName="template" placeholder="template">
                                </mat-form-field>
                            </div>
                        </div> -->
                        <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                                <!--Group-->
                                <div class="form-group">
                                    <mat-form-field>
                                        <!-- <input matInput type="number" formControlName="difficulty" placeholder="difficulty"> -->
                                        <mat-select placeholder="Difficulty" formControlName="difficulty">
                                                <mat-option [value]="1">Low</mat-option>
                                                <mat-option [value]="2">Medium</mat-option>
                                                <mat-option [value]="3">High</mat-option>
                                            </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        <!-- <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                           
                            <div class="form-group">
                                <mat-form-field>
                                    <input matInput type="text" formControlName="picture" placeholder="picture">
                                </mat-form-field>
                            </div>
                        </div> -->

                        <!-- <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />

                            <button type="button" class="btn-w-md" color="primary" 
                            (click)="uploader.uploadAll()" 
                            [disabled]="!uploader.getNotUploadedItems().length" >
                            Upload an Image
                            </button> -->
                            <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
                            <button type="button" class="btn-w-md" color="primary" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                            Upload to server
                            </button>
            <!-- <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                
                <div class="form-group">
                    <img [src]="question.picture" class="thumbnail">
                </div>
            </div> -->

            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <!--content-->
                <div class="form-group">
                    <mat-form-field>
                        <input matInput type="text" formControlName="content" placeholder="Question">
                    </mat-form-field>
                </div>
            </div>

            <!--answers-->
            <div formArrayName="answers"
                 *ngFor="let answer of form.get('answers').controls; let i = index;"
                 fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50">
                <div [formGroupName]="i" class="border p-2">
                    <div class="form-group">
                        <mat-form-field>
                            <input matInput formControlName="content" placeholder="Answer">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput formControlName="feedback" placeholder="Feedback">
                        </mat-form-field>
                        <mat-checkbox formControlName="iscorrect">Correct answer</mat-checkbox>
                    </div>

                </div>
            </div>

        </div>

        <div class="divider divider-md"></div>

        <div class="form-actions mt-2">
            <button mat-raised-button type="submit" class="btn-w-md" color="primary">
                    
                Submit
            </button>
            <!-- [disabled]="form.invalid"> -->
        </div>
    </form>
</div>
