<h3 matDialogTitle>
    <ng-container *ngIf="editMode" i18n>Edit User</ng-container>
    <ng-container *ngIf="!editMode" i18n>Add User</ng-container>
</h3>

<div mat-dialog-content style="padding-bottom: 20px;">
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
        <div fxLayout="row wrap">

            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                <!--Is Admin-->
                <div class="form-group">
                    <mat-form-field>
                        <!-- <input matInput formControlName="isAdmin" placeholder="isAdmin ? true/false"> -->
                        <mat-select placeholder="isAdmin?" formControlName="isAdmin">
                            <mat-option [value]="false">False</mat-option>
                            <mat-option [value]="true">True</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                <!--First Name-->
                <div class="form-group">
                    <mat-form-field>
                        <input matInput formControlName="name" placeholder="First Name">
                    </mat-form-field>
                </div>
            </div>

            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                <!--Last Name-->
                <div class="form-group">
                    <mat-form-field>
                        <input matInput formControlName="lastName" placeholder="Last Name">
                    </mat-form-field>
                </div>
            </div>

            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                <!--Email-->
                <div class="form-group">
                    <mat-form-field>
                        <input type="email" matInput formControlName="email" placeholder="Email">
                    </mat-form-field>
                </div>
            </div>

            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                <!--Password-->
                <div class="form-group">
                    <mat-form-field>
                        <input type="password" matInput formControlName="password" placeholder="Password">
                    </mat-form-field>
                </div>
            </div>

            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                <!--Difficulty-->
                <div class="form-group">
                    <mat-form-field class="mr-2">
                        <mat-select placeholder="Difficulty" formControlName="difficulty">
                            <mat-option [value]="1">Low</mat-option>
                            <mat-option [value]="2">Medium</mat-option>
                            <mat-option [value]="3">High</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                <div class="form-group">
                    <mat-form-field class="mr-2">
                        <mat-select #selectedCompany placeholder="Company">
                            <mat-option *ngFor="let company of companies$ | async" [value]="company"
                                        formControlName="company">
                                {{company.companyName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                <!--Group-->
                <div class="form-group">
                    <mat-form-field>
                        <mat-select placeholder="Group">
                            <mat-option>No company selected</mat-option>
                            <ng-container *ngIf="selectedCompany.value">
                                <mat-option *ngFor="let group of selectedCompany.value.group" [value]="group"
                                            formControlName="groups">
                                    {{company.companyName}}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                <!--Coins-->
                <div class="form-group">
                    <mat-form-field>
                        <input matInput type="number" formControlName="coins" placeholder="Coins">
                    </mat-form-field>
                </div>
            </div>

        </div>

        <div class="divider divider-md"></div>

        <div class="form-actions">
            <button mat-raised-button type="submit" class="btn-w-md" color="primary"
                    [disabled]="form.invalid">
                Submit
            </button>
        </div>
    </form>
</div>
