
<h4 class="mx-xs">Default Editor</h4>
<mat-card class="pa-0">
  <quill-editor [style]="{height: '200px'}" (onEditorCreated)="setFocus($event)"></quill-editor>
</mat-card>


<h4 class="mx-xs mt-2">Reactive Forms and patch value <button type="button" (click)="hide=!(!!hide)">hide / show</button></h4>
<form [formGroup]="form">
  <div class="mx-xs">
    {{form.controls.editor.value}}
    <button type="button" (click)="patchValue()">patchValue</button>
    <button type="button" (click)="setControl()">setControl</button>
  </div>
  <mat-card class="pa-0">
    <quill-editor #editor [style.display]="hide ? 'none' : 'block'" [formControl]="form.controls['editor']"></quill-editor>
  </mat-card>
</form>


<h4 class="mx-xs mt-2">Bubble editor <button type="button" (click)="placeholder=placeholder + '!'">Change placeholder</button></h4>
<mat-card class="pa-0">
  <quill-editor theme="bubble" [placeholder]="placeholder" bounds=".mat-drawer-content"></quill-editor>
</mat-card>
