<mat-card>
  <mat-card-title>Settings Form</mat-card-title>
  <mat-card-subtitle>Change some settings if you know what you are doing</mat-card-subtitle>

  <!--<p *ngIf="settings">{{ settings | json}}</p>-->
  <p>{{error}}</p>

  <form [formGroup]="form" *ngIf="form">
    <mat-card-content>
      <div fxLayout="row wrap">
        <div class="mb-1">
          <mat-form-field>
            <input matInput placeholder="Company Name" formControlName="companyName">
            <mat-hint *ngIf="form.controls['companyName'].hasError('required') && form.controls['companyName'].touched" class="mat-text-warn">You must include a company name.</mat-hint>
          </mat-form-field>
        </div>

        <div class="mb-1 ml-2">
          <mat-form-field>
            <input matInput placeholder="Default Coins" formControlName="defaultCoins">
            <mat-hint *ngIf="form.controls['defaultCoins'].hasError('required') && form.controls['defaultCoins'].touched" class="mat-text-warn">You must include default coins.</mat-hint>
          </mat-form-field>

        </div>
      </div>
      
    </mat-card-content>
    <hr>
    <mat-card-actions class="px-1">
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Submit</button>
    </mat-card-actions>
  </form>
</mat-card>
